<style>
        section img{
            height: 50%;
            width: 50%;
        }
        #editProfile{
            transition: 0.5s ease;
        }
        #editProfile:hover{
            scale: 110%;
        }
        .editBtn{
          height: 50px;
          width: 50px;
          background-color: white;
          border: none;
          transition: 0.5s ease;
        }
        .editBtn img{
          scale: 200%;
        }
        .editBtn:hover{
          height: 55px;
          width: 55px;
          border: solid 1px grey;
        }
    </style>