#suggestionsPanel {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: #f0f0f0;
  }
  