# Stripe API keys - see https://stripe.com/docs/development/quickstart#api-keys
STRIPE_PUBLISHABLE_KEY=pk_test_51OrzrBC0QgRlIqeyDzXT5JQIaqbfPKeKJaTJpreud7qdxvn0YL64cCxEBgnBC95H8EZo3rpROws9X4mmlpvuTmG200NqqkX8Iq
STRIPE_SECRET_KEY=sk_test_51OrzrBC0QgRlIqeyFHKWaaAJAPPGyIwH4r5SLQtBmTTkfz2xLiwtHEnD1EbB1M9CQ3xwlQ3MyjxoL0FsjH8wgHQI009q2nEPLJ.

# Required to verify signatures in the webhook handler.
# See README on how to use the Stripe CLI to test webhooks
STRIPE_WEBHOOK_SECRET=whsec_9dc498f9c2aefbac7559e63722f97d6108c9ab3a4001c08865f1452ea70a2632

# Path to front-end implementation. Note: PHP has it's own front end implementation.
STATIC_DIR=../../client/html

# For Prebuilt Checkout demo:
PRICE=price_abc123...
DOMAIN=http://localhost:4242

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHOD_TYPES="card"
