{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h2>Chat Room: {{ code }}</h2>
    <div class="messages" id="messages">
        {% for message in messages.values() %}
        <div class="text">
            <span>
                <strong>{{ message['from'] }}</strong>: {{ message['message'] }}
            </span>
            <span class="muted">
                {{ message['timestamp'] }}
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send
        </button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const createMessage = (name, msg, timestamp) => {
        const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date(timestamp).toLocaleString()}
        </span>
    </div>
    `;
        document.getElementById("messages").innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.timestamp);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", {data: message.value, timestamp: new Date().getTime() });
        message.value = "";
    };
</script>
{% endblock %}